# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
lerna-debug.log*
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency caches
.npm
.yarn/*
.pnp.*

# Build tooling caches
.eslintcache
.stylelintcache
.nyc_output
.cache
.parcel-cache
*.tsbuildinfo

# Next.js
.next/
out/

# Build output
dist/
packages/*/dist/
coverage
*.lcov
lib-cov

# Env
.env
.env.local
.env.*.local
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.vscode-test

# Framework caches
.grunt
bower_components
build/Release
jspm_packages/
web_modules/
.nuxt
.temp
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

# Prisma
prisma/*.db
